# Build output
bin/
obj/

# Publish output (tärkeä!)
publish/
*.publish/

# Zip deploy packages
*.zip

# Dotnet publish folders (varmuuden vuoksi kaikki tasot)
**/publish/
**/bin/Release/
**/bin/Debug/

# Logs
*.log